{% extends 'base.html' %}
{% block content %}
<!-- <container class="hero">
</container> -->

<div class="hero">

    <div class="container home_box">
        <!--Header Section-->
        <header class="row landing-info">
            <!-- <div class="col-12" id="header-text"></div> -->
                <h2>A platform to close the gap between <br> "Design Vision" & "Finished Product" </h2>
                    <div class="" >
                        <p> &#x2022; Hard-to-describe materials</p>
                        <p> &#x2022; Exterior Construction Projects</p>
                        <p> &#x2022; Interior Construction Projects</p>
                    </div>
                
                <br>
                <hr>
                <h5>Test out REAL materials from vendors in your project 3D environment BEFORE you buy.</h5>
                
                <div class="col-12" id="middle-text">
                    <!-- <h2>Check out the Inventory!</h2> -->
                    <!-- <p>View available items and download 3D models of inventory for purchase to test out in your design</p> -->
                    <div class="index-btns">
                        <button class="btn btn-outline-light" onclick="location.href='//www.asla.org/2019awards/629964-Artful_Technology_Methods_For_Communicating_Non_Standard.html'">Why AvalanchR</button>
                        <button class="btn btn-light" onclick="document.location='/inventory'">View Inventory</button>
                    </div>   
                </div>
                
                <hr>
                <h6>Real Materials | Authorized Sellers | Free 3D models</h6>
        </header> 

        <!--Start Middle Section-->
        <!-- <section class="row">
        </section> -->


        <!--Footer-->
        <!-- <footer class="row" id="footer">
        </footer> -->

    <!-- END Home_box -->
    </div>

<!-- END Hero -->
</div>

{% endblock content %}