{% extends 'base.html' %}
{% block content %}
<!-- <container class="hero">
</container> -->

<div class="hero">

    <div class="container home_box">
        <!--Header Section-->
        <header class="row landing-info">
            <!-- <div class="col-12" id="header-text"></div> -->
                <h2>A platform to close the gap between <br> "Design Vision" & "Finished Product" </h2>
                <div class="d-flex justify-content-center">
                    <div id="animation">
                        <model-viewer class="animation-model" src="../../static/3D_models/Boulder2.glb" 
                            camera-orbit="45deg 70deg 100%"
                            class="model_index_card"
                            rotation-per-second=".3rad"
                            auto-rotate
                            auto-rotate-delay="0">
                        </model-viewer>
                    </div>
                    
                    <div class="d-flex flex-column justify-content-center">
                        <p> » Hard-to-describe materials  </p>
                        <br>
                        <p> » Exterior Construction Projects</p>
                        <br>
                        <p> » Interior Construction Projects</p>
                    </div>
                </div>
                
                <br>
                <hr>
                <div class="middle-info">
                    <h5>Test out <b>REAL</b> materials from vendors in your project 3D environment <b>BEFORE</b> you buy!</h5>
                    <div class="d-flex justify-content-around mt-4 mb-4">
                        <a class="btn btn-outline-light" onclick="document.location='/inventory'">View Inventory</a>
                        <a class="btn btn-outline-light" onclick="location.href='//www.asla.org/2019awards/629964-Artful_Technology_Methods_For_Communicating_Non_Standard.html'">Why AvalanchR</a>
                    </div>   
                </div>
                
                <hr>
                <h6>Real Materials | Authorized Sellers | Free 3D models</h6>
        </header> 



        <!--Start Middle Section-->
        <!-- <section class="row">
        </section> -->

        <!--Footer-->
        <!-- <footer class="row" id="footer">
        </footer> -->

    <!-- END Home_box -->
    </div>

<!-- END Hero -->
</div>

<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

{% endblock content %}