{% extends 'base.html' %}

{% block content %}

<h2 class="d-flex display-2 text-center m-4"><u>Available Inventory</u></h2>

<div class="d-flex flex-wrap">
{% for post in posts %}

    <div class="card d-flex">
        <h3 class="card-title p-2">{{ post.title }}</h3>
        <!-- <div class="d-flex justify-content-between">
            <p class="align-self-end p-2 text-secondary"><small>${{ post.price }}</small></p>
            <p class="card-text">{{ post.description }}</p>
        </div> -->

        <div>
            <!-- rotation-per-second=".3rad" -->
            <!-- auto-rotate
            auto-rotate-delay="2500" -->
            <model-viewer src="{{ Config.AWS_PUBLIC_URL + '/' + post.model_url }}" 
                    shadow-intensity="2" 
                    camera-orbit="45deg 70deg 100%"
                    class="model_index_card"
                    >
                    <div class="d-flex justify-content-space-evenly flex-column p-2">
                        <p class="me-auto card-text">Dims: {{ post.dimensions}}</p>
                        <p class="me-auto card-text">Weight: {{ post.weight}} lbs</p>
                        <p class="me-auto card-text">${{ post.price }}</p>
                    </div>
        </div>
        <!-- <div class="d-flex justify-content-between">
            <p class="align-self-end p-2 text-secondary"><small>{{ post.dimensions}}</small></p>
            <p class="align-self-end p-2 text-secondary"><small>{{ post.weight}} lbs</small></p>
        </div> -->

        <!-- <ul class="list-group list-group-flush">
            <li class="list-group-item"><i>{{ post.description }}</i></li>
            <li class="list-group-item"><b>Dimensions:</b> {{ post.dimensions }}</li>
            <li class="list-group-item"><b>Weight:</b> {{ post.weight }}</li>
        </ul> -->

        <a href="{{ url_for('site.item', id=post.id, title=post.title)}}" class="btn btn-outline-dark">View Item Details</a>
    </div>

{% endfor %}
</div>

<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

{% endblock content %}
<!-- https://via.placeholder.com/100x75 -->