{% extends 'base.html' %}

{% block content %}

<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

<!-- poster="{{ Config.AWS_PUBLIC_URL + '/' + post.img_url }}"  -->
<!-- <model-viewer reveal="auto"
                src="{{ Config.AWS_PUBLIC_URL + '/' + post.model_url }}" 
                loading="auto"
                ar ar-modes="webxr scene-viewer quick-look" 
                camera-controls 
                shadow-intensity="1">
    <div class="progress-bar hide" slot="progress-bar">
        <div class="update-bar"></div>
    </div>
</model-viewer> -->


<!-- <model-viewer src="{{ Config.AWS_PUBLIC_URL + '/' + post.model_url }}"></model-viewer> -->

<model-viewer src="{{ Config.AWS_PUBLIC_URL + '/' + post.model_url }}" 
                shadow-intensity="1" 
                camera-controls 
                touch-action="pan-y">
</model-viewer>



{% endblock content %}