{% extends 'base.html' %}

{% block content %}

<!-- Flashed message to user -->
<!-- <div class="container"> -->
    {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
            {% for cat,msg in messages %}
                {% if cat == 'user-created' %}
                    <div class="alert alert-success">
                        {{ msg }}
                        <!-- <button type='button' class="close" data-dismiss = 'alret'>&times;</button> -->
                    </div>
                {% endif %}
                {% if cat == 'auth-failed' %}
                <div class="alert alert-danger">
                    {{ msg }}
                    <!-- <button type='button' class="close" data-dismiss = 'alret'>&times;</button> -->
                </div>
                {% endif %}    
            {% endfor %}
        {% endif %}
    {% endwith %}
<!-- </div> -->

<!-- <div class="container">
    <h4>Your profile details</h4>
    <li class="list-group-item"><b>Email / User Account:</b> {{ current_user.email }}</li>
</div> -->

<div class="container">
    <br>
    <h4 class="display-6"><u>{{ current_user.email }}'s active posts:</u></h4>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
              <!-- <th scope="col">ID #</th> -->
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Dims</th>
              <th scope="col">Weight</th>
              <th scope="col">Price</th>
              <th scope="col">Item Page</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>

          <tbody>
            {% for post in user_posts %}
            <tr>
              <!-- <th scope="row">{{ post.id }}</td> -->
              <th scope="row">{{ post.title }}</td>
              <td class="table-description">{{ post.description }}</td>
              <td>{{ post.dimensions }}</td>
              <td>{{ post.weight }}</td>
              <td>${{ post.price }}</td>
              <td><a href="{{ url_for('site.item', id=post.id)}}" >View Item</a></td>
              <td><a href="{{ url_for('auth.update_post', id=post.id)}}"  id="">Update</a></td>
              <td><a href="{{ url_for('auth.delete_post', id=post.id)}}"  id="delete">Delete</a></td>
            </tr>
            {% endfor %}
            <!-- <tr>
              <th scope="row">2</th>
              <td>Thornton</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
            </tr> -->

          </tbody>
      </table>
    </div>


{% endblock content %}